In [3]:
import kagglehub
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

/home/glenn/mambaforge/envs/mlops/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
dataset_path = kagglehub.dataset_download("samithsachidanandan/the-global-ai-ml-data-science-salary-for-2025")
data = pd.read_csv(dataset_path + "/salaries.csv")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.8), please consider upgrading to the latest version (0.3.11).

In [6]:
data.query('job_title == "Data Scientist"')

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
11,2025,SE,FT,Data Scientist,160000,USD,160000,US,0,US,M
12,2025,SE,FT,Data Scientist,130000,USD,130000,US,0,US,M
20,2025,MI,FT,Data Scientist,140000,USD,140000,US,100,US,M
21,2025,MI,FT,Data Scientist,120000,USD,120000,US,100,US,M
126,2025,SE,FT,Data Scientist,193750,USD,193750,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
88574,2021,SE,FT,Data Scientist,168000,USD,168000,JP,0,JP,S
88575,2021,MI,FT,Data Scientist,160000,SGD,119059,SG,100,IL,M
88579,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
88581,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
88583,2021,SE,FT,Data Scientist,7000000,INR,94665,IN,50,IN,L